<header class="w-full bg-green-600 text-white py-4">
  <%= link_to root_path do %>
    <div class="container mx-auto flex items-center justify-center px-4">
      <h1 class="text-xl font-bold hover:opacity-80">
        東山ファーム
      </h1>
    </div>
  <% end %>
</header>